#tab-onvifScanner .onvif_result .preview-image {
    width: 100%;
    background-size: cover;
    height: 100px;
}
#tab-onvifScanner .onvif_result .card {
    cursor: pointer;
}
#tab-onvifScanner .onvif_result .card-body {
    min-height: auto;
}
#tab-onvifScanner .onvif_result {
    padding-top:2rem;
}
#tab-onvifScanner .onvif_result td {
    border: 0;
    padding-bottom: 1rem;
}
#tab-onvifScanner .scan-item-img {
    max-width: 150px;
    border-radius: 7px;
}
